# Compiled class file
*.class
RI-labs/bin/*

# git doesn't allow to upload big files
RI-labs/eval/Questions.csv
RI-labs/eval/Answers.csv

# Eclipse stuff
RemoteSystemsTempFiles/
.metadata
RI-labs/.classpath

# index gets created everytime the program runs
RI-labs/index/*
